body {
  max-width: 800px;
  margin: auto;
  Background-color: #88cc88;
}

.nametag {
  background-color: #b5efa0;
  margin: 0px;
  padding: 0px;

}
h1 {
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 75px;
  margin-bottom: 1px;
  margin-top: 0px;
}

h2 {
  font-family: Helvetica, sans-serif;
  color: white;
  margin-bottom: -20px;
}

table {
    border-collapse: collapse;
    color: #000;
    width: 100%;
}

table, td, th {

}

td, th {
  padding:4px;
}

tr:nth-child(even) {
  background: #eee;
}

tr:nth-child(odd) {
  background: #ccc;
}

th {
  background: #4ec43a;
  color: #fff;
}

section {
  margin-bottom: 200px;
  font-size: 35px;
}

li {
  font-family: Verdana;
  color: white;
}f
